                                            /* phần đầu */
body{
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 38%;
transform: translate(-50%, -50%);
} 
header{
    width: 100%;
    background-image: url(img/Banner\ Cam\ Le.jpg);
    height: 450px;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header .menu_head{
    position: absolute;
    top: 0px; 
    right: -5px;
    padding: 10px; 
    font-size: 19px;
}
header .menu_head a{
    text-decoration: none;
    /* color: #F0EEED; */
    padding: 10px;
    border: 1px;
    background-color: #183A37;
    /* background-color: #557153; */
    border-radius: 5px 10px; 
}
header .menu_head a:hover{
    background-color:#F0EEED;
    color: #557153;
}
header a.colo1{color: #B4E4FF;}
header a.colo2{color: #F0EEED;}
header .menu_head nav{padding: 15px;}
marquee{
    color: #F55050;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

                                            /* phần nội dung */
.noidung{
    display: flex;
    margin: 0px 20px;
    padding: 20px;
    border: 1px solid black;
    height: 1200px;
    background-color: whitesmoke;
}
.noidung h3{
    font-size: 20px;
    padding: 5px;
    background-color:#749F82;
    color: #fff;
}
.noidung h4{
    font-size: 17px;
    text-align: center;
    color: #DC0000;
}
.noidung a{
    font-size: 17px;
    text-decoration: none;
    color: #DC0000;
}
.noidung a:hover{color: #395144;}
fieldset{
    border-color: #395144;
    background-color: #EDE4E0;
}
.right{ 
    padding: 20px;
    margin-right: -285px;
}
.nd{width: 90%; font-family: 'Times New Roman', Times, serif; text-align: justify;}
.nd1{width: 50%;} 
.nd2{width: 50%;height: 25%;}
.nd3{width: 50%;height: 25%;}
.nd4{width: 50%;height: 30%;}


                                            /* phần chân */
footer{
    padding: 20px;
    /* color: #DD4A48; */
    color: #fff;
    height: 50%;
}
/* menu footer */
footer .center{text-align: center;}
footer .fhead{width: 100%;}
footer .fhead a{
    display: inline-block;
    padding: 20px;
    font-size: 20px;
}
footer .box-center{
    display: flex;
    /*khoảng cách giữa các dòng:pace-between
    justify-content: cawn theo chiều ngang*/
    justify-content: space-between;
}
footer ul li{list-style-type: none;}
footer a{text-decoration: none;color: #fff;}
footer .icon{
    margin-top: 20px;
    padding: 20px;
    
}
footer .row{height: 100%;background-color: #5B8A72; padding: 20px;}
footer .r1 ul{
    display: flex;
    font-size: 40px;
}
footer .r2{display: inline-block;}
footer .r3 li{padding: 10px;}
footer .Thương{
    background-color: #1E5128;
    padding: 20px;
    text-align: center;
}
